html, body {
  margin: 0;
  padding: 0;
}

body	{
	font-family: cambria;
	background: #347B98;
}

/*Perintah untuk diterapkan di Header*/
.sip {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
  border-radius: 25px;
}

li.header {
  float: left;
}

li a, .tombol {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-family: calibri;
}

li a:hover, .dropdown:hover .tombol {
  background-color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

nav {
	position: sticky;
	top: 0;
}

/*Perintah di atas diterapkan di Header*/
.jumbotron {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px solid green;
	height: 640px;
	width: 100%;
	background: url(asset/css/bg-1.jpg);
	background-size: auto;
 }
 
.gambar-header {
	margin-top: 10px;
	padding: 5px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	}

	.header-1{
	width: 600px;
	margin-right: 5px;
	margin-left: 5px;
	display: flex;
	}

	.header-1 img	{
		width: 550px;
		height: 200px;
		margin: auto;
	}

	.header-1 span	{
		margin: auto;
		align-items: center;
		background-color: darkred;
		padding: 5px 10px;
		text-align: center;
		border-radius: 15px;
		border:2px solid rgb(1, 1, 70);
	}

	.h1-1 {
		font-family: Copperplate, Papyrus, fantasy;
		font-size: 50px;
		text-shadow: 3px 3px 3px;
		text-align: center;
		color: azure;
	}

	.h1-2  {
		font-family: Papyrus, fantasy;
		font-size: 20px;
		color: yellow;
		text-align: center;
	}
	h2	{
		color:tomato;
		text-align: center;
		font-family: cambria;
	}

.tulisan-header	{
	align-self: flex-end;
	width: 100%;
	height: 60px;
	background-color: blue;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
	.tulisan-header-1	{
		width: 75%;
		height: 60%;
		border-radius: 15px;
		background-color:thistle;
		display: flex;
		align-items: center;
	}

	.h1-2.tulisan {
		font-family: 'Righteous', cursive;
		font-size: 20px;
		color: #8B4513;
	}


/*Di bawah ini perintah untuk diterapkan di elemn body*/
main	{
	background-color: #5a5f72;
	width: 100%;
}
	.utama 	{
		width: 100%;
		padding: 20px;
		padding-bottom: 0px;
		box-sizing: border-box;
		display:flex;
		flex-direction: row;
		border-color: #EFE1CE;
	}
	
	.utama div {
		margin: 2px;
	}
	
	.konten-utama {
		flex: 8;
	}
	
	.konten-aside	{
		flex: 2;
		display: flex;
		flex-direction: column;
		border: 2px solid white;
	}
	
	
.angkut-allbox {
	border-top: 5px solid white;
	display: flex;
	background: #8B4513;
	border-radius: 25px solid yellow;
	}

.angkut-allbox div {
	flex-direction: row;
}

.box	{
	height: auto;
	margin: 10px;
	border: 2px solid green;
	}
.margin-div {
		border: 2px solid yellow;
		}		
h2	{
	color: black;
	font-family: "Brush Script MT", cursive;
	font-size: 60px;
	}
p, dt	{
	text-align:justify;
	}

.satu {
	width: 40%;
}
div.pertama	{
	left: 10px;
	top: 500;
	height: auto;
	width: 60%;
	}

.dua {
	width: 40%;
	}
div.kedua	{
	left: 15px;
	height: auto;
	width: 60%;
	}

.tiga {
	width: 40%;
	}
div.ketiga	{
	left: 0px;
	height: auto;
	width: 60%;
	}
.ul-1	{
	list-style-type:none;
	border-radius: 25px;
	border-color: white;
	border-top: 8px solid red;
	background: #F5FFFA;
	padding: 20px;
	text-align: center;
	}

.ul-2	{
	list-style-type:none;
	border-radius: 25px;
	border-color: white;
	border-bottom: 8px solid blue;
	background: #B0E0E6;
	padding: 20px;
	text-align: center;
}

.ul-3	{
	list-style-type:none;
	border-radius: 25px;
	border-color: white;
	border-bottom: 8px solid blue;
	background: #B0C4DE;
	padding: 20px;
	text-align: center;
}

.modal	{
	border-radius: 25px;
	border-color: white;
	border-bottom: 8px solid blue;
	background: #A0DAA9;
	padding: 20px;
	text-align: center;
	}

.untung	{
	border-radius: 25px;
	border-color: white;
	border-bottom: 8px solid blue;
	background: #A0DAA9;
	padding: 20px;
	text-align: center;
	}

.hemat	{
	border-radius: 25px;
	border-color: white;
	border-bottom: 8px solid blue;
	background: #A0DAA9;
	padding: 20px;
	text-align: center;
	}

.efektif {
	border-radius: 25px;
	border-color: white;
	border-bottom: 8px solid blue;
	background: #A0DAA9;
	padding: 20px;
	text-align: center;
	}

.sudut1	{
  border-radius: 25px;
  background: #EFE1CE;
  padding: 2px; 
  width: auto;
  height: auto;
  border-top: 8px solid red;
}

.sudut2	{
  border-radius: 25px;
  background: white;
  padding: 2px; 
  width: auto;
  height: auto;
  border-bottom: 8px solid green;
}

.ph	{
	color: yellow;}

/*Di atas adalah perintah untuk diterapkan di elemn body*/


/*Di bawah ini perintah untuk diterapkan di elemn asside*/

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	/* Profil */
	.profil {
		display: flex;
		flex-direction: column;
		border: 2px solid yellowgreen;
	}

	.profil span{
		margin: auto;
		
	}

	aside th {
		text-align: left;
	}

	/* Daftar Produk */
	.display-produk	{
		display: flex;
		flex-direction: column;
		border: 2px solid yellowgreen;
	}

	.produk	{
		border: 2px solid #02040eee;
		border-radius: 10px;
		background-color: black;
		overflow: hidden;
	}

	.produk .judul {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 180px;
		background-color: blue;
		margin: 0;
		padding: 0;
		color: yellow;
		text-align: center;
	}

	.produk .isi {
		text-align: center;
		color: #A0DAA9;
	}

	.isi p{
		text-align: center;
	}

	.judul img	{
		width: 260px;
		height: 145px;
	}

	.judul div {
		width: 90%;
		background-color: #8B4513;
		border: 2px solid rgb(1, 1, 70);
		border-radius: 25px;
		height: 25px;
		margin: auto;
		display: flex;
	}

	.judul div span	{
		margin: auto;
	}

/*Di atas adalah perintah untuk diterapkan di elemn asside*/

/*Perintah untuk diterapkan di footer*/


p.kaki-2{
	text-align: center;
	font-family: verdana;	
	}
td.kaki	{
	font-family: calibri;
	font-size: 10px;
	text-align:left;
	vertical-align:middle;
	}
a.kaki:link {
	color:white;
	text-align:left;
	text-decoration:none;
	}
a.kaki:hover {
	color:yellow;
	text-decoration:underline;
	}
a.ig:visited {
	color:puprle;
	}
a.fb:visited {
	color:blue;
	}
a.email:visited {
	color:red;
	}
a.wa:visited {
	color:green;
	}
footer	{
	background-color:black;
	border-top: 2px solid yellow;
	padding: 5px;
	color: white;
	bottom: 0; left: 0;
	width: 99,5%;
	}

/*Perintah untuk diterapkan di footer*/


@media (max-width: 760px) {
	/* tampilan main div utama */
   .utama	{
	   display: flex;
	   flex-direction: column;
   }

   /* tampilan pada element konten dan aside */
   .konten-utama {
	width: 100%;
	}

	.konten-aside	{
	width: 100%;
	}

	/* tampilan pada konten-1 */
	.angkut-allbox	{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-content: center;
	}
}

